input[type=range]
{
    width: 100px;
    height: 14px;
    display: inline;
    margin: 5px 0px 0px 5px;
}

input[type=range]+label
{
    width: 80px;
}

#infoSpan {
    color: blue;
    margin: 0px 10px 0px 10px;
    border: blue solid thin;
    padding: 5px 10px 5px 10px;
}

.panel {
     border: solid black 1px;   

     width: 800px;
}



.canvas-cont {
    position: relative;
}
.canvas-item {
    position: absolute;
    top: 0;
    left: 0;
}

.dash-text {
    width: 70px;
    text-align: right;
    margin-bottom: 3px;
}

.dash-label {
    width: 55px;
    display:inline-block;
    text-align: right;
    margin-right: 4px;
}


#ballBoard, #lineBoard {
    border: solid black 1px;
    font-family: monospace;
    font-weight: 800;
    color: black;
    padding: 5px;
    background-color: rgb(117 190 218 / 20%);  
    display: none; 
}


#savedSceneText
{
    width: 650px;
}

#modeButton {
    background-image: image('./assets/icons/play-fill.svg');
}