#canvas {
    border: thin solid blue;
}

#ballDefinition,
#scenesExportText
{
    width: 650px;
}

button {
    /*margin: 0px 5px 0px 5px;*/
}

input[type=range]
{
    width: 126px;
    height: 14px;
    display: inline;
    margin: 5px 0px 0px 5px;
}
input[type=range]+label
{
    width: 80px;
}

#infoSpan {
    color: blue;
    margin: 0px 10px 0px 10px;
    border: blue solid thin;
    padding: 5px 10px 5px 10px;
}

#redBallImg, #blueBallImg, #greenBallImg {
    display: none
}

.panel {
     margin-bottom: 10px;
}
.thumbnail {
    width: 120px;
    height: 70px;
    border: none;
    margin-right: 5px;
    display: inline;
}

#scenesDiv {
    height: 80px;
    margin-bottom: -10px;
}

#sceneAttrs {
    display: none;
    position: absolute;
    background-color: white;
    top: 230px;
    width: 60%;
    height: 500px;
}

.form-group {
    width: 100%;
}